#get-page-image-page h1 {
  text-align: center;
  font-size: 30px;
}

#get-page-image-page p {
  font-size: 20px;
  text-align: center;
}

#get-page-image-page .img-container {
  background: #fff;
  box-shadow: 22px 18px 28px 1px rgba(0,0,0,0.47);
  padding: 10px;
  margin: 10px;
  border: solid #d9d9d9 1px;
  display: inline-block;
  border-radius: 10px;
}